.washing_machines_section {



  .washing_machines_slice {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    @media (max-width:500px) {
      padding: 3rem 1rem;
    }
  }
}