.chart {
    //flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    width: 100%;
  
    .title {
      margin-bottom: 20px;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }
//.total_info_income {
//  display: flex;
//  justify-content: center;
//}

.cards-list-main {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  background: #060A21;
  box-shadow: -5px -2px 22px -5px rgb(255 255 255 / 20%), 0px 4px 4px rgb(255 255 255 / 2%);
  border-radius: 16px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list-main {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}




.budgetInfoText {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.wrapper_block {
  display: flex;
  flex-direction: column;
}
.car_wash_name {
  color: green;
  font-size: 20px;
}

.car_wash_bill_point {
  color: #819b1c;
  font-size: 20px;
}

.car_wash_bill_coin {
  color: beige;
  font-size: 20px;
}

.car_wash_bill_cashless {
  color: #ba0aa6;
  font-size: 20px;
}

.car_wash_bill_bonus {
  color: #0610b3;
  font-size: 20px;
}

.car_wash_bill_total {
  color: #137652;
  font-size: 20px;
}

.income_graph_text {
  color: green;
  font-size: 25px;
  text-align: center;
}